<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.fangzhe.pojo"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/fangzhe/dao/LinkedManMapper.xml"></mapper>
    </mappers>
</configuration>
